# Python
venv/
__pycache__/
*.pyc

# Local database file (data shouldn't be in git)
*.db

# Environment / secrets
.env

# OS noise
.DS_Store

.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars